<section class="shelter-details"><h1>Shelter Name: <%= @shelter.name %></h1>
<p>Shelter Address: <%= @shelter.address %></p>
<p>Shelter City: <%= @shelter.city %></p>
<p>Shelter State: <%= @shelter.state %></p>
<p>Shelter Zip: <%= @shelter.zip %></p>
</section>

<section class="statistics">
<p>Number of pets in this shelter: <%= @shelter.pet_count %></p>
<p>Average shelter review rating: <%= @shelter.average_review_rating %> </p>
<p>Number of applications on file for pets in this shelter: <%= @shelter.application_count %> </p>
</section>

<section class="clickables">
<a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a><br>
<%= link_to "Show Pets", "/shelters/#{@shelter.id}/pets" %>
<% if @shelter.pets.any? do |pet| %>
      <% pet.status == false %>
    <% end %>
  <% else %>
  <%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
  <% end %>
<%= link_to "Add a new shelter review", "/shelters/#{@shelter.id}/reviews/new" %>
</section>

<section class="review-details">
<h2>Reviews:</h2>
<% @reviews.each do |review| %>
  <p>Review Title: <%= review.title %></p>
  <p>Review Rating: <%= review.rating %></p>
  <p>Review Content: <%= review.content %></p>
  <p>Review Image: <%= review.image %></p><br>
  <%= link_to "Edit Shelter Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit" %><br>
  <%= button_to "Delete Shelter Review", "/shelters/#{@shelter.id}/reviews/#{review.id}", method: :delete %>
<% end %>
</section>
