<h1>Favorited Pets:</h1>

<%= @no_pets %>

<% @favorited_pets == true %>
<%= link_to "Adopt your favorited pets", "/applications/new" %>
<%= link_to "Remove all Favorited Pets", "/favorites", method: :delete %>

<section class="favorited-pets">
<% @favorited_pets && @favorited_pets.each do |pet| %>
  <section id=pet-<%= pet.id %>>
  <%= image_tag(pet.image, alt: pet.name) %><br>
  <b><p>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}"%></p><br>
  <%= link_to "Remove Pet From Favorites", "/favorites/#{pet.id}", method: :delete %>
  </section>
<% end %>
</section>

<section class="applied-for">
  <% @applied_pets.each do |pet| %>
    <p><%= link_to "#{pet.name}", "/pets/#{pet.id}"%></p><br>
  <% end %>
</section>
