<section class="pet-details"><h1>Pet Name: <%= @pet.name %></h1>
<%= image_tag(@pet.image, alt: @pet.name, method: :get) %>
<p>Pet Description: <%= @pet.description %></p>
<p>Pet Approx. Age: <%= @pet.approx_age %></p>
<p>Pet Sex: <%= @pet.sex %></p>
<% if @pet_app.nil? %>
  <p>Pet Adoptable Status: "Adoptable" </p>
<% else %>
  <p>Pet Adoptable Status: <%= @pet_app.adoptable? %></p>
    <p>On hold for <%= link_to "#{@application.name}", "/application/#{@application.id}"%></p>
<% end %>
</section>

<section class="clickables">
<a href="/pets/<%= @pet.id %>/edit">Update Pet</a>
<% if favorites.contents.include?(@pet.id) %>
  <%= button_to "Remove From Favorites", "/favorites/#{@pet.id}", method: :delete %>
<% else %>
  <%= button_to "Add Pet to Favorites", "/favorites/#{@pet.id}", method: :patch %>
<% end %>
<% if @pet.status == true %>
  <%= button_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
<% end %>
<%= link_to "View all applications for this pet", "/pets/#{@pet.id}/applications" %>
</section>
