<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <section class="messages">
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %></section>
    <header class="nav-bar"><%= link_to "All Pets", "/pets" %><br>
      <%= link_to "All Shelters", "/shelters" %><br>
    <a href="/favorites">Pets Favorited: <%= favorites.count %></a></header>
    <%= yield %>
  </body>
</html>
